:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
}

body {
  margin: 0;
}
